<h2>Album List: </h2>
<br>
<table class="table table-hover">
    <thead class="theadColor">
        <tr>
            <th>Album Id</th>
            <th>Id</th>
            <th>Title</th>
            <th>Url</th>
            <th>Thumbnail URL</th>
        </tr>
    </thead>
    <tbody class="table-dark">
        <tr *ngFor="let al of albums">
            <td>{{al.albumId}}</td>
            <td>{{al.id}}</td>
            <td>{{al.title}}</td>
            <td>{{al.url}}</td>
            <td>{{al.thumbnailUrl}}</td>
        </tr>
    </tbody>
</table>